body{
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar{
    background: #f2f6e9;
}
.nav-link, .navbar-brand{
   color:#000;
   
}
.nav-link{
    margin-right: 1em im !important;
}
.nav-link:hover{
    color: #000;
}
.navbar-collapse{
    justify-content: flex-end;
}
img{
    width: 6em;
    height: 6em;
}
.button{
    color:#000;
}
.navbar-toggler-icon{
    background-color:#000;
}
 /* .header{
    background-image: url("assets/images/500_F_189991259_6ZrR7CTUtMbvng90m219BkQI1PumD719.jpg");
     background-size: cover;
    background-position: center;
    position: relative; 
 } */