.fa:hover{
    opacity: 0.7;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
    width: 3em;
    height: 3em;
}
.fa-facebook{
     background: #55ACEE;
    color: white;
    width: 3em;
    height: 3em;

}
.fa-instagram{
    background: #55ACEE;
   color: white;
   width: 3em;
   height: 3em;

}