<!-- <div>
    <form>
        <p>
            <label>FirstName</label>
            <input type="text" name="firstName" class="form-control">
        </p>
        <p>
            <label>LastName</label>
            <input type="text" name="lastName" class="form-control">

        </p>
        <p>
            <label>EMail</label>
            <input type="text" name="email" class="form-control">
        </p>
        <p>
            <label>Gender</label>
            <input type="radio" value="male" name="gender">&nbsp;Male &nbsp;
            <input type="radio" value="femail" name="gender">&nbsp;Femail &nbsp; 
        </p>
        <p>
        <label>Married</label>
        <input type="checkbox" name="isMarried">
        </p>
        <p>
        <babel>Country</babel>
        <select name="country" class="form-control">
            <option selected="" value=""></option>
         </select>
         </p>
    </form>
</div> -->