/* /* h1{
    color:blue;
    margin-right: 20em;
} */
.imgone{
    border: thin #C0C0C0 solid;
    padding: 5px;
    max-width: 200em;
}
.imgone{
    height: 28em;
    width: 28em;
}
.imgtwo{
    height: 40em;
}
.imgthree{
    height: 40em;

} 
