h1{
    color:blue;
    margin-right: 20em;
}
.blog-box{
    border: thin #C0C0C0 solid;
    padding: 5px;
    max-width: 180em;
}
.imgone{
    height: 40em;
}
.imgtwo{
    height: 40em;
}
.imgthree{
    height: 40em;

}