<section class="feature-blog mtb-48">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-4 col-sm-12">
                <div class="blog-box">
                    <img src="assets/images/faculty.jpg" alt="blog1" class="firstimage">
                    <!-- <h1>Lorem ipsum dolor sit amet consect
                        etur adipisicing elit. Illum, suscipit!</h1> -->
                    <!-- <p>by<span>Santanu Kumar Paikaray</span></p> -->
                     <p>“Learning is to know; and Education is to think feel and do”</p> 
                        <!-- <a href="#" class="btn btn-danger">Read more</a> -->
                    </div>
                </div>
                <div class="col-md-4 col-md-4 col-sm-12">
                    <div class=blog-box>
                        <img src="assets/images/frontgate.jpg" alt="blog2"/>
                        <!-- <h1>Lorem ipsum dolor sit amet consectetu
                            r adipisicing elit. Nemo, corrupti!</h1> -->
                            <!-- <p>by<span>Santanu Kumar Paikaray</span></p> -->
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                 Ullam cupiditate velit similique vitae </p>
                                 <!-- <a href="#" class="btn btn-danger">Read more</a> -->
                        </div>
                    </div>
                    <div class="col-md-4 col-md-4 col-sm-12">
                        <div class=blog-box>
                            <img src="assets/images/schoolfront (3).jpg" alt="blog3"/>
                            <!-- <h1>Lorem ipsum dolor sit amet consectetu
                                r adipisicing elit. Nemo, corrupti!</h1> -->
                                <!-- <p>by<span>Santanu Kumar Paikaray</span></p> -->
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi
                                     consequatur earum nostrum </p>
                                     <!-- <a href="#" class="btn btn-danger">Read more</a> -->
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class=blog-box>
                                <img src="assets/images/images.png" alt="blog1"/>
                                <h1>Lorem ipsum dolor sit amet consectetu
                                    r adipisicing elit. Nemo, corrupti!</h1>
                                    <p>by<span>Santanu Kumar Paikaray</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                         Tempore, ratione.</p>
                                         <a href="#" class="btn btn-danger">Read more</a>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-4">
                                <div class=blog-box>
                                    <img src="assets/images/images.png" alt="blog1"/>
                                    <h1>Lorem ipsum dolor sit amet consectetu
                                        r adipisicing elit. Nemo, corrupti!</h1>
                                        <p>by<span>Santanu Kumar Paikaray</span></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                             Tempore, ratione.</p>
                                             <a href="#" class="btn btn-danger">Read more</a>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <div class=blog-box>
                                        <img src="assets/images/images.png" alt="blog1"/>
                                        <h1>Lorem ipsum dolor sit amet consectetu
                                            r adipisicing elit. Nemo, corrupti!</h1>
                                            <p>by<span>Santanu Kumar Paikaray</span></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                 Tempore, ratione.</p>
                                                 <a href="#" class="btn btn-danger">Read more</a>
                                        </div>
                                    </div> -->
                        </div>
                        </div>
            
    </section>