<!-- <section class="cmspage mtb-40">
    <div class="container">
        <div class="page-desc">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>Contact Us</h1>
                    <form>
                        <h2>AT-TELANGAPADA,PO-GADAKHARAD,DIST-PURI
                            BLOCK-KANAS,PIN NO.752019 , Ph:91+9937089610
                            E-Mail:santanupaikaray1962@gmail.com</h2>
                        
                             <h3>Google map:<a href="https://www.google.com/maps/place/ZETA+FINSERV(ATM)/">click here to visit...</a></h3>   
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <div class="jumbotron bg-white text-center">
        <h1 class="display-4">Contact Us</h1>
        <hr>
        <h3 class="lead">At-Telangapada,Po-Gadakharad,Dist-Puri
            Block-Kanas,Pin no.-752019 , Ph no.-91+9937089610
            E-Mail:zetafinser@gmail.com</h3>
            <hr class="my-4">
            <p>Google map:<a href="https://www.google.com/maps/place/ZETA+FINSERV(ATM)/">click here to visit...</a></p>
        </div>
    