.header{
    background-image: url("/assets/images/500_F_189991259_6ZrR7CTUtMbvng90m219BkQI1PumD719.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.description{
    left:50%;
    position: absolute;
    top:45%;
    transform: translate(-50%,-75%);
    text-align: center;
    color:hotpink;
}
h4{
    color:wheat;
}