<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
            
        </div>
        <header class="page-header header">
            <div class="description">
                <h1>Welcome to A.A.K.B.N ,Telangapada</h1>
                <h4>"WE SEEK TO MAXIMIZE THE POTENTIAL OF YOUR CHILD IN THE SAFE ENVIRONMENT OF OUR SCHOOL."</h4>


                </div>
            
           

            </header>
            

         
           
            
        </div>
</section>

