<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
        
        </div>
        <video src="/assets/videos/video-2.mp4" autoPlay loop muted>
            </video>
        
            <div class="description">
             
                <h4>Welcome to A.A.K.B.N ,Telangapada</h4>
                <p>"WE SEEK TO MAXIMIZE THE POTENTIAL OF YOUR CHILD IN THE SAFE ENVIRONMENT OF OUR SCHOOL."</p>


                </div>
            
           

            
            

         
           
            
        </div>
</section>

