 img{
   width: 30em;
   height: 30em;
   border: thin #c0c0c0 solid;
   padding: 8px;
   
   
} 
p{
    margin-left: 20em;
}
.two{
    margin-left: 35em;
    margin-top: -32em;
}
h1{
    color:brown;
}
.imgone{
float: right;
}