<!-- <section class="blog-list mtb-48">
    <div class="Container">
        <h1>About School</h1>
        <div class="row">
             <div class="col-md-4">
                <div class="blog-box" text-center>
                    <img src="assets/images/schoolfront (2).jpg" alt="llog1"/>
                <h3>THE INSTITUTION A.A.K.B.N,High School was established by MLA
                    Ajaya Kumar Jena in year 1992. We at A.A.K.B.N,High School
                    aim at preparing the future generation imbued with universal Vedic
                    values, and distinct Indian cultural ethos. The nation feels proud
                    of the achievements of students who have passed through the portals
                    of this esteemed institution. To develop and motivate the child
                    to learn and experience success in a conducive environment retaining
                    Indian values.</h3> 
                    <h2>Message of Honourable HeadMaster</h2>
                  <img src="assets/images/headsir.jpg" class="imgone">
                  <h4>“Education is a shared commitment between dedicated teachers,
                    motivated students and enthusiastic parents with high expectations"
                    A.A.K.B.N,High School is one of the leading educational institutions
                    providing quality education to students.It supplements of a very good
                    infrastructure, including libraries,facilities in sports and student centric
                    activities promoting sustained quality education and ensure that the students
                    have an open, enquiring mind and are competent enough in their field of studies.</h4>   
                    <p>Santosh Kumar Paikaray</p>
                    
           
                       
                    </div>
                </div> 
                <!-- <div class="col-md-4">
                    <div class="blog-box">
                       
                        
                      
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus 
                            ducimus velit architecto optio fugit nemo aut error ullam,
                             maxime vitae?</p>
                            
                        </div>
                    </div> -->
                     <!-- <div class="col-md-4">
                        <div class="blog-box">
                            <!-- <img src="assets/images/outerclassroom (3).jpg" alt="llog1"/> -->
                            
                            
                            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus 
                                ducimus velit architecto optio fugit nemo aut error ullam,
                                 maxime vitae?</p>
                                 -->
                            <!-- </div>
                        </div> 
            </div>
        </div>
    </section> --> 
    <div class="jumbotron bg-white text-center">
        <h1>About Our School</h1>
        <img src="assets/images/schoolfront (2).jpg" alt="llog1"/>
        <img src="assets/images/schoolfront (2).jpg" alt="llog1"/>
        <!-- <h1 class="display-4">Corona Covid-19 Tracker</h1> -->
        <hr>
        <p class="lead">Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Sapiente dicta, quas repudiandae
              recusandae saepe odit sequi earum officiis. 
            Quas excepturi omnis sed incidunt similique assumenda 
            nulla hic perferendis culpa amet?</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Eius magnam distinctio
                 doloremque omnis laborum necessitatibus
                  maiores ut natus cumque blanditiis?</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Soluta beatae ut magnam dicta minus rerum omnis magni, 
                      in error obcaecati a odit facere animi, quidem voluptatum
                       ratione assumenda eum quae. Nemo repudiandae,
                       odio quia reprehenderit ad vitae amet temporibus magnam
                        ratione earum ipsa voluptas ipsam non quis quo natus cum?</p>
                        <hr>
                        <p class="my-4">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                 Maxime deserunt iure error cum, dolores neque asperiores
                                  ea culpa. Omnis voluptatum itaque cum laudantium vero 
                                   quibusdam culpa, ducimus, quis est sunt veritatis esse optio
                                    cupiditate non enim rem quia ad neque? Quo ex hic quae nesciunt,
                                 placeat fugit dolores ipsa necessitatibus nobis mollitia ad quidem,
                                  tempore iusto ducimus accusamus facilis.</p>
        </div>
    