<section class="blog-list mtb-48">
    <div class="Container">
        <h1>Courses</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-box">
                   
                    <h3>8th class</h3>
              
                  <p>English</p>
                  <p>Math</p>
                  <p>History</p>
                  <p>Geography</p>

                  <h4>9th class</h4>
                  <p>English</p>
                  <p>Math</p>
                  <p>History</p>
                  <p>Geography</p>

                  <h4>10th class</h4>
                  <p>English</p>
                  <p>Math</p>
                  <p>History</p>
                  <p>Geography</p>
                        
                    </div>
                </div>
              
                   
            </div>
        </div>
        <!-- <div class="col-md-4">
        <app-course-recent>
            <h1>Happy</h1>
        </app-course-recent>
        <app-course-categories></app-course-categories>
        </div> -->
        
    </section>